{# templates/main/card.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content p-4" id="content">
    <!-- Toggle -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill  shadow-sm px-3 mb-4"><i class="fa fa-bars mr-0"></i></button>

<h1 class="display-4 ">Restaurant La Cadole</h1>
    <p class="lead text-white mt-4 mb-5">Inspirations</p>

    <hr class="style">

    <div class="row text-center">
        <div class="col-8 offset-2 d-flex ">
                  
            <div class="card-columns mt-5">
                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/salade.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                            <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad alias, aliquid amet aspernatur atque culpa cum debitis dicta doloremque, dolorum ea eos et excepturi explicabo facilis harum illo impedit incidunt laborum laudantium...
                            </p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>                   
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_0596.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque!</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iusto maxime nemo omnis praesentium similique.</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_0510b.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur.</h5>
                            <p class="card-text">Amet commodi deleniti enim laboriosam odio placeat praesentium quis ratione rerum suscipit.</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/a27.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur.</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_0654b.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, consequatur culpa cumque  nemo perferendis qui repellendus rerum saepe vel voluptate voluptatem voluptatum!</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_0519.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi debitis eaque explicabo fuga maiores necessitatibus, neque omnis optio vel!</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_0490a.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad alias, aliquid amet aspernatur atque culpa cum debitis dicta doloremque, dolorum ea eos et excepturi explicabo facilis harum illo impedit incidunt laborum laudantium...
                            </p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>                        
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_1586.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque!</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iusto maxime nemo omnis praesentium similique.</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/givry.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur.</h5>
                            <p class="card-text">Amet commodi deleniti enim laboriosam odio placeat praesentium quis ratione rerum suscipit.</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/43.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur.</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_0489a.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, consequatur culpa cumque deserunt dignissimos error explicabo fugiat harum ipsam magni minus mollitia nemo perferendis qui repellendus rerum saepe vel voluptate voluptatem voluptatum!
                                Aperiam, labore, molestiae!..</p>
                                <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

                <div class="card mt-3">
                    <a href="#">
                        <img class="card-img-top" src="images/IMG_0438.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi debitis eaque explicabo fuga maiores necessitatibus, neque omnis optio vel!</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-copyright"></i>La Cadole</small></p>
                        </div>
                    </a>
                </div>

            </div>
                       

        </div>
                
                    
    </div>
</div>
    
{% endblock %}