{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content p-4" id="content"> 
    <!-- Toggle -->  
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill  shadow-sm px-3 mb-4"><i class="fa fa-bars mr-0"></i></button> 

        <div class="row  ">
            <div class="col-8 offset-2 ">


                <div class="vc-container">
                    <div class="vc-content">
                      <h4 class="vc-heading">500</h4>
                      <p class="vc-sub-heading">Internal Server <span class="blink-infinite">Error</span></p>
                    </div>
                  </div>


            </div>
        </div>
</div>
{% endblock %}