{% extends 'base.html.twig' %}



{% block body %}
<div class="page-content p-4" id="content"> 
    <!-- Toggle -->  
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill  shadow-sm px-3 mb-4"><i class="fa fa-bars mr-0"></i></button> 
       
        <div class="row  ">
            <div class="col-6 offset-3 "> 
                <div class="app mt-4 ">                     
                    <div class= "text-center">ERROR 403</div>
                    <div class="txt mt-4">
                    Accès Interdit<span class="blink-cursor">_</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
